@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url("../multimedia/andreea-chidu-63RnGWHVIXs-unsplash.jpg");
  background-size: cover;
  font-family: 'Roboto Slab', serif;
  font-weight: bold; }

.colorNav {
  text-align: center;
  position: sticky;
  top: 0; }

.tamañoFuente {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  margin-right: 30px;
  margin-left: 30px; }

.navbar-toggler {
  color: black; }

.logo {
  width: 100px; }
  .logo:hover {
    scale: 1.2; }

.cajitas {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  margin: 30px; }
  .cajitas div {
    border: 1px black solid;
    border-radius: 10px;
    padding: 20px; }
    .cajitas div a {
      text-decoration: none; }
    .cajitas div h2 {
      font-weight: bold;
      color: black; }
      .cajitas div h2:hover {
        color: #414288; }
    .cajitas div p {
      font-weight: bold;
      color: black; }

.cajitasEstilos {
  background-color: white;
  opacity: 70%; }
  .cajitasEstilos:hover {
    opacity: 100%;
    transition: 1.5s; }

.tamañoLogos {
  width: 50px;
  padding: 10px; }
  .tamañoLogos:hover {
    scale: 1.3; }

.estilotexto {
  font-family: 'Comic Neue', cursive;
  color: white;
  font-size: 1.3rem; }

.footerEstilo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  text-align: center; }
  .footerEstilo a {
    text-decoration: none; }

@media screen and (min-width: 200px) and (max-width: 700px) {
  .cajitas {
    flex-wrap: wrap; } }

.bodyContacto {
  color: #fff;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em; }

.formularioClass {
  list-style: none;
  padding: 0; }

.logo {
  text-align: center;
  font-size: 3em; }

.logo span {
  color: #B70E21; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

.contact-wrapper > * {
  padding: 1em; }

.contact-form {
  background: #222222; }

.contact-form form label {
  display: block; }

.contact-form form p {
  margin: 0;
  padding: 1em; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031; }

.contact-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0; }

/* CONTACT INFO */
.contact-info {
  background: #000; }

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0; }

.colorNav {
  font-family: 'Roboto Slab', serif;
  font-weight: bold; }

/*Definicion de grid areas*/
header {
  grid-area: header; }

.content {
  grid-area: content; }

.contact-info {
  grid-area: adicional; }

footer {
  grid-area: footer; }

.bodyContacto {
  display: grid;
  grid-template-areas: "header header header" "content content content" "adicional adicional adicional" "footer footer footer"; }

* {
  margin: 0;
  padding: 0; }

.bodyGaleria {
  background: white;
  box-sizing: border-box; }

.colorNavGaleria {
  background-color: white; }

.colorMenu {
  color: black; }

img {
  width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px; }

.column {
  flex: 25%;
  padding-right: 5px;
  padding-left: 5px; }

.footerEstilo2 {
  background-color: white; }

.column img {
  margin-top: 10px; }

.estilotexto2 {
  color: black; }

@media (max-width: 800px) {
  .column {
    flex: 50%; } }

@media (max-width: 600px) {
  .column {
    flex: 100%; } }
