* {

    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

body {
    background-image: url("../multimedia/andreea-chidu-63RnGWHVIXs-unsplash.jpg");
    background-size: cover;
    
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
     
}