.cajitas {

    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin: 30px;
          
        div {
            border: 1px black solid;
            border-radius: 10px;
            padding: 20px;

            a {
                text-decoration: none;

                
            }

            h2 {

                font-weight: bold;
                color: white;

                &:hover {

                    color: #414288;
                }

                
            }
               
            p {
                font-weight: bold;
                color: white;
            }
        }

}

.cajitasEstilos {

    background-color: black;
    opacity: 70%;

        &:hover {

            opacity: 100%;
            transition: 1.5s;

        }           
}
.cajasDiferencias {

    background-color: black;
    opacity: 70%;

        &:hover {

            opacity: 100%;
            transition: 1.5s;

        } 
        
        border: 1px black solid;
        border-radius: 10px;
        padding: 20px;

        p {
            font-weight: bold;
            color: white;
        }

}

.cajasFlex {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin: 30px;

        h3 {
            font-weight: bold;
            color: white;
            padding: 30px;
            text-align: center;
        }

}