*{
    margin: 0;
    padding: 0;
    
}
.bodyGaleria {

    background: white;
    box-sizing: border-box;
         
}

.colorNavGaleria {

    background-color: white;
    text-align: center;
}

.colorMenu {
    color: black;
}

img {

    width: 100%;
}

.row {

    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;

}

.column {

    flex: 25%;
    padding-right: 5px;
    padding-left: 5px;
    
}

.footerEstilo2 {

    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    text-align: center;

        a {

            text-decoration: none;

        }

}

.column img {

    margin-top: 10px;
}

.estilotexto2 {
    color: black;
}

@media (max-width:800px) {

    .column {

        flex: 50%;
        
    }
    
}
@media (max-width:600px) {

    .column {

        flex: 100%;
        
    }
    
}

